body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232e3f;
    padding: 5px ;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
    max-width: 400px;
}

.search-button {
    background-color: #febd69;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.account-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.account-cart a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: #232e3f;
    padding: 2px 0;
}

.main-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 5px 10px;
}

.main-nav a:hover {
    background-color: #485769;
    border-radius: 4px;
}

.hero-section {
    text-align: center;
}

.hero-banner {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.products-section, .category-section {
    padding: 20px;
}

.product-grid, .category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product, .category {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.product img, .category img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #232f3e;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .product, .category {
        width: calc(50% - 20px);
    }

    .search-bar {
        max-width:200px;
    }
}

@media (max-width: 480px) {
    .product, .category {
        width: calc(100% - 20px);
    }

    .nav-links a, .account-cart a {
        margin: 5px 0;
    }

    .header-container {
        flex-direction: column;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .main-nav {
        flex-direction: column;
    }

    .main-nav a {
        margin: 50px 0;
    }
}
